@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
body{
    font-size: 22px;
    background-color: #ccccd7;
}
.clickable:hover{
    cursor: pointer;
}
.te{
    background-color: #ad9999;
}

.categories{
}

.category{
    border: solid #814141;
    width: 250px;
    height: 180px;
}
